
    <div class="container"><br>
        <h3>Delete <%= book.title%>?</h3>
        <br>
        <div class="row">
            <h5>This process can't be undone. Are you sure?</h5>
            <div class="delete-btn">
                
                <a class='btn btn-primary btn-lg' href="/book/delete/yes/<%=book._id%>">Yes! Delete</a>
                <a class='btn btn-primary btn-lg' href="/book/list">No</a>
            </div>

        </div>
    </div>