.author{
    margin-top: 20px;
}

.author img{
    /* /* margin-top: 10px; */
    margin-left: 50px;
    margin-right: 50px; 
    width: 200px;
    height: 200px;
    
}
.author h5{
    text-align: center;
}

.author-list ul{
  list-style: none;  
}
.author-list ul li{
    float: left;
    margin-bottom: 50px;
}
